Repository epfml/disco, pull requests merged in 2022-07, with the labels that each got.

#373 Explain disco's name
  browser/src/components/containers/TitleCard.vue
  browser/src/components/pages/Information.vue
  browser/src/components/pages/NotFound.vue
Labels: browser

#374 Training informant and LUS Covid
  browser/src/components/Description.vue
  browser/src/components/training/Training.vue
  browser/src/components/training/TrainingInformation.vue
  browser/src/data_loader.ts
  discojs/src/client/base.ts
  discojs/src/client/decentralized.ts
  discojs/src/client/federated.ts
  discojs/src/index.ts
  discojs/src/informant/index.ts
  discojs/src/informant/training_informant.ts
  discojs/src/informant/training_informant/base.ts
  discojs/src/informant/training_informant/decentralized.ts
  discojs/src/informant/training_informant/federated.ts
  discojs/src/informant/training_informant/index.ts
  discojs/src/informant/training_informant/local.ts
  discojs/src/tasks/lus_covid.ts
  discojs/src/tasks/simple_face.ts
  discojs/src/training/trainer/distributed_trainer.ts
  server/tests/end_to_end.test.ts
  server/tests/federated_client.ts
Labels: browser, discojs, decentralized

#375 Training Informant and Validation Panel
  browser/src/components/ModelCaching.vue
  browser/src/components/training/Training.vue
  browser/src/components/training/TrainingInformation.vue
  browser/src/components/validation/Validator.vue
  discojs/src/client/decentralized.ts
  discojs/src/client/federated.ts
  discojs/src/client/local.ts
  discojs/src/dataset/dataset_builder.ts
  discojs/src/informant/training_informant/base.ts
  discojs/src/informant/training_informant/local.ts
  discojs/src/training/trainer/distributed_trainer.ts
  discojs/src/training/trainer/local_trainer.ts
  discojs/src/training/trainer/trainer.ts
Labels: bug, enhancement, browser, discojs

#389 Add Data Harmonization section, + vue's composition API
  browser/package-lock.json
  browser/src/components/Description.vue
  browser/src/components/data/Data.vue
  browser/src/components/data/DataHarmonization.vue
  browser/src/components/data/dataset_input/DatasetInput.vue
  browser/src/components/data/dataset_input/FileSelection.vue
  browser/src/components/data/preview/PreviewGallery.vue
  browser/src/components/data/preview/data_types/ElementData.vue
  browser/src/components/data/preview/data_types/EmptyData.vue
  browser/src/components/data/preview/data_types/FileData.vue
  browser/src/components/data/preview/data_types/ImageData.vue
  browser/src/components/navigation/Navigation.vue
  browser/src/components/validation/Validation.vue
  discojs/src/task/display_information.ts
  discojs/src/tasks/lus_covid.ts
  discojs/src/tasks/titanic.ts
Labels: browser, discojs

#388 Include tasks' preview in their description
  browser/src/components/Description.vue
  browser/src/components/pages/TaskList.vue
  discojs/src/task/display_information.ts
  discojs/src/task/summary.ts
  discojs/src/tasks/cifar10.ts
  discojs/src/tasks/lus_covid.ts
  discojs/src/tasks/mnist.ts
  discojs/src/tasks/simple_face.ts
  discojs/src/tasks/titanic.ts
Labels: browser, discojs

#400 Explicit: validation panel requires unseen data
  benchmark/src/benchmark.ts
  browser/package-lock.json
  browser/package.json
  browser/src/components/pages/TaskList.vue
  browser/src/components/simple/CheckBox.vue
  browser/src/components/validation/Validation.vue
  browser/src/components/validation/Validator.vue
  browser/src/data_loader.ts
  browser/src/main.ts
  browser/src/memory.ts
  browser/src/store/index.ts
  browser/src/types.ts
  discojs/src/aggregation.spec.ts
  discojs/src/async_informant.test.ts
  discojs/src/dataset/data_loader/image_loader.spec.ts
  discojs/src/dataset/data_loader/image_loader.ts
  discojs/src/dataset/data_loader/tabular_loader.spec.ts
  discojs/src/dataset/data_loader/tabular_loader.ts
  discojs/src/index.ts
  discojs/src/logging/trainer_logger.ts
  discojs/src/memory/empty.ts
  discojs/src/privacy.ts
  discojs/src/serialization/model.spec.ts
  discojs/src/serialization/model.ts
  discojs/src/serialization/weights.ts
  discojs/src/tfjs.ts
  discojs/src/training/trainer/trainer_builder.ts
  discojs/src/types.ts
  server/src/router/decentralized.ts
  server/src/router/federated.ts
  server/src/router/tasks.ts
  server/src/run_server.ts
Labels: browser

#402 Filters continued
  browser/src/components/pages/TaskList.vue
Labels: browser

#403 Fix display of Task Creation Form
  browser/package-lock.json
  browser/package.json
  browser/src/components/pages/NewTaskCreationForm.vue
  browser/src/form.ts
  browser/src/locales/i18n.ts
Labels: browser

#404 Add test-lib to CI
  .github/workflows/lint-test-build.yml
  browser/with_server
  discojs/with_server
Labels: discojs, testing

#409 Fix bug in Validation Panel, use Composition API in some components
  browser/package.json
  browser/src/components/sidebar/ModelLibrary.vue
  browser/src/components/training/Training.vue
  browser/src/components/validation/Validation.vue
  browser/src/components/validation/ValidationBar.vue
  browser/src/components/validation/Validator.vue
  browser/src/main.ts
  browser/src/store/index.ts
  browser/src/toast.ts
Labels: browser

#412 Fix RHS Menu and Model Library
  browser/package-lock.json
  browser/package.json
  browser/src/components/sidebar/ModelLibrary.vue
  browser/src/components/sidebar/Settings.vue
  browser/src/components/sidebar/Sidebar.vue
  browser/src/components/sidebar/containers/SidebarButton.vue
  browser/src/components/sidebar/containers/TippyCard.vue
  browser/src/components/sidebar/containers/TippyContainer.vue
  browser/src/components/sidebar/simple/ModelButton.vue
  browser/src/memory.ts
  discojs/src/memory/base.ts
  discojs/src/memory/empty.ts
Labels: browser

#413 discojs/client/dec: reorder & rename
  browser/package-lock.json
  browser/src/clients.ts
  discojs/package-lock.json
  discojs/src/client/decentralized/base.ts
  discojs/src/client/decentralized/clear_text.ts
  discojs/src/client/decentralized/index.ts
  discojs/src/client/decentralized/messages.ts
  discojs/src/client/decentralized/sec_agg.ts
  discojs/src/client/decentralized/secret_shares.spec.ts
  discojs/src/client/decentralized/secret_shares.ts
  discojs/src/client/decentralized/types.ts
  discojs/src/client/index.ts
  discojs/src/index.ts
  discojs/tests/decentralized_client.spec.ts
  server/package-lock.json
  server/src/router/signaling_server.ts
  server/tests/decentralized_client.ts
  server/tests/end_to_end_decentralized.ts
Labels: enhancement

#414 Dropdown Cards & Homogenous Navigation
  browser/src/components/containers/DropdownCard.vue
  browser/src/components/containers/IconCard.vue
  browser/src/components/data/DataHarmonization.vue
  browser/src/components/navigation/Navigation.vue
  browser/src/components/navigation/ProgressBar.vue
  browser/src/components/navigation/ProgressIcon.vue
  browser/src/components/pages/TaskList.vue
  browser/src/components/validation/Validation.vue
Labels: browser

#420 Browser: refactor, mv from Vuex to Pinia, fix progress bars
  browser/package-lock.json
  browser/package.json
  browser/src/components/App.vue
  browser/src/components/data/DataHarmonization.vue
  browser/src/components/information/Features.vue
  browser/src/components/information/Further.vue
  browser/src/components/information/Information.vue
  browser/src/components/information/Tutorial.vue
  browser/src/components/navigation/Navigation.vue
  browser/src/components/pages/AboutUs.vue
  browser/src/components/pages/Features.vue
  browser/src/components/pages/Further.vue
  browser/src/components/pages/Information.vue
  browser/src/components/pages/NewTaskCreationForm.vue
  browser/src/components/pages/TaskList.vue
  browser/src/components/pages/Tutorial.vue
  browser/src/components/progress_bars/InformationBar.vue
  browser/src/components/progress_bars/ProgressIcon.vue
  browser/src/components/progress_bars/TrainingBar.vue
  browser/src/components/progress_bars/ValidationBar.vue
  browser/src/components/sidebar/ModelLibrary.vue
  browser/src/components/sidebar/Settings.vue
  browser/src/components/simple/CheckBox.vue
  browser/src/components/simple/CustomButton.vue
  browser/src/components/simple/CustomFooter.vue
  browser/src/components/simple/CustomHeader.vue
  browser/src/components/training/Description.vue
  browser/src/components/training/Finished.vue
  browser/src/components/training/ModelCaching.vue
  browser/src/components/training/Trainer.vue
  browser/src/components/training/Training.vue
  browser/src/components/unused/ImagePredictionResults.vue
  browser/src/components/unused/ImageTesting.vue
  browser/src/components/unused/ImageTraining.vue
  browser/src/components/unused/ModelActor.vue
  browser/src/components/unused/TabularTesting.vue
  browser/src/components/unused/TabularTraining.vue
  browser/src/components/validation/Validation.vue
  browser/src/components/validation/Validator.vue
  browser/src/main.ts
  browser/src/router/index.ts
  browser/src/router/router.ts
  browser/src/shims-vuex.d.ts
  browser/src/store/index.ts
  browser/src/store/information.ts
  browser/src/store/memory.ts
  browser/src/store/tasks.ts
  browser/src/store/training.ts
  browser/src/store/validation.ts
  browser/src/testing/tester.ts
  browser/src/testing/testing_script.ts
Labels: browser

#333 Release v1.0
  .github/workflows/release.yml
  DEV.md
  benchmark/README.md
  benchmark/src/args.ts
  benchmark/src/benchmark.ts
  benchmark/src/data.ts
  benchmark/src/utils.ts
  browser/package-lock.json
  browser/package.json
  browser/src/clients.ts
  browser/src/components/data/Data.vue
  browser/src/components/data/DataHarmonization.vue
  browser/src/components/data/dataset_input/DatasetInput.vue
  browser/src/components/pages/TaskList.vue
  browser/src/components/sidebar/ModelLibrary.vue
  browser/src/components/training/Description.vue
  browser/src/components/training/Finished.vue
  browser/src/components/training/ModelCaching.vue
  browser/src/components/training/Trainer.vue
  browser/src/components/training/Training.vue
  browser/src/components/training/TrainingInformation.vue
  browser/src/components/validation/Validation.vue
  browser/src/components/validation/Validator.vue
  browser/src/data_loader.ts
  browser/src/main.ts
  browser/src/memory.ts
  browser/src/store/memory.ts
  browser/src/store/tasks.ts
  browser/src/store/training.ts
  browser/src/store/validation.ts
  browser/src/tasks.ts
  browser/src/types.ts
  discojs/.npmignore
  discojs/package-lock.json
  discojs/package.json
  discojs/src/tasks/cifar10.ts
  server/example/README.md
  server/example/data.ts
  server/example/example.ts
  server/example/start_server.ts
  server/package-lock.json
  server/package.json
  server/src/config.ts
  server/src/router/decentralized.ts
  server/src/router/federated.ts
  server/src/router/signaling_server.ts
  server/src/router/tasks.ts
  server/src/run_server.ts
  server/src/tasks.ts
  server/tests/decentralized_client.ts
  server/tests/end_to_end.test.ts
  server/tests/end_to_end_decentralized.ts
  server/tests/federated_client.ts
  server/tests/utils.ts
  server/tsconfig.eslint.json
Labels: discojs
