Repository epfml/disco, pull requests merged in 2022-10, with the labels that each got.

#473 Add weights class
  discojs/src/aggregation.spec.ts
  discojs/src/aggregation.ts
  discojs/src/async_buffer.spec.ts
  discojs/src/async_buffer.ts
  discojs/src/async_informant.ts
  discojs/src/client/base.ts
  discojs/src/client/decentralized/base.ts
  discojs/src/client/decentralized/clear_text.ts
  discojs/src/client/decentralized/sec_agg.ts
  discojs/src/client/decentralized/secret_shares.spec.ts
  discojs/src/client/decentralized/secret_shares.ts
  discojs/src/client/federated/client.ts
  discojs/src/client/local.ts
  discojs/src/index.ts
  discojs/src/privacy.ts
  discojs/src/serialization/weights.spec.ts
  discojs/src/serialization/weights.ts
  discojs/src/test_utils.spec.ts
  discojs/src/training/trainer/distributed_trainer.ts
  discojs/src/weights/aggregation.spec.ts
  discojs/src/weights/aggregation.ts
  discojs/src/weights/index.ts
  discojs/src/weights/weights_container.ts
  server/src/router/federated.ts
  server/tests/decentralized_client.ts
  server/tests/end_to_end_decentralized.ts
  server/tests/router/decentralized.test.ts
  server/tests/router/federated.test.ts
Labels: rework, discojs

#476 Update docs following lib split
  .nvmrc
  DEV.md
  discojs-core/README.md
  discojs-node/README.md
  discojs/README.md
  information/ARCHITECTURE.md
  information/FAQ.md
  information/ONBOARDING.md
Labels: documentation

#486 Fix the Titanic dataset's download link
  discojs-core/src/tasks/titanic.ts
Labels: bug, browser, discojs

#488 More explicit error messages in the web client and library
  browser/src/components/training/Trainer.vue
  build.sh
  discojs-core/src/dataset/data.ts
  discojs-core/src/dataset/data/data.ts
  discojs-core/src/dataset/data/data_split.ts
  discojs-core/src/dataset/data/image_data.spec.ts
  discojs-core/src/dataset/data/image_data.ts
  discojs-core/src/dataset/data/index.ts
  discojs-core/src/dataset/data/preprocessing.ts
  discojs-core/src/dataset/data/tabular_data.spec.ts
  discojs-core/src/dataset/data/tabular_data.ts
  discojs-core/src/dataset/data_loader/data_loader.ts
  discojs-core/src/dataset/data_loader/image_loader.ts
  discojs-core/src/dataset/data_loader/tabular_loader.spec.ts
  discojs-core/src/dataset/data_loader/tabular_loader.ts
  discojs-core/src/dataset/dataset.ts
  discojs-core/src/dataset/dataset_builder.ts
  discojs-core/src/dataset/index.ts
  discojs-core/src/task/training_information.ts
  discojs-core/src/training/trainer/trainer.ts
  discojs-node/src/dataset/data_loader/tabular_loader.spec.ts
  discojs-node/src/dataset/data_loader/tabular_loader.ts
  install.sh
Labels: enhancement, browser, discojs

#499 Update TF.js and fix the validation panel for image tasks
  discojs/discojs-core/src/dataset/data_loader/image_loader.ts
  discojs/package-lock.json
  discojs/package.json
  web-client/src/components/validation/Validator.vue
Labels: bug, dependencies, web client, discojs

#493 Fix bugs in the web client
  discojs/discojs-core/src/tasks/lus_covid.ts
  web-client/src/components/data/DataHarmonization.vue
Labels: bug, web client, discojs

#508 Fixing issue preventing tasks to be shown
  discojs/discojs-core/src/dataset/data/image_data.ts
  discojs/discojs-core/src/dataset/data/preprocessing.ts
  discojs/discojs-core/src/task/training_information.ts
  discojs/discojs-core/src/tasks/cifar10.ts
  discojs/discojs-core/src/tasks/geotags.ts
  discojs/discojs-core/src/tasks/lus_covid.ts
Labels: bug, discojs
