Repository epfml/disco, pull requests merged in 2022-09, with the labels that each got.

#464 Server and client WS Federated implementation
  discojs/src/client/federated/client.ts
  discojs/src/client/federated/index.ts
  discojs/src/client/federated/messages.ts
  server/src/router/federated.ts
  server/src/router/router.ts
  server/tests/federated_client.ts
Labels: enhancement, discojs

#465 Fix browser and server running simultaneously
  server/example/data.ts
  server/package-lock.json
  server/package.json
  server/src/run_server.ts
  server/src/tasks.ts
Labels: bug, browser

#463 Code refactoring as base for federated WS implementation
  benchmark/src/benchmark.ts
  browser/src/clients.ts
  discojs/src/client/federated.ts
  discojs/src/client/federated/client.ts
  discojs/src/client/federated/index.ts
  discojs/src/client/federated/messages.ts
  discojs/src/client/index.ts
  server/example/example.ts
  server/src/router/decentralized.ts
  server/src/router/federated.ts
  server/src/router/router.ts
  server/src/router/server.ts
  server/src/router/signaling_server.ts
  server/tests/end_to_end.test.ts
  server/tests/federated_client.ts
Labels: enhancement, discojs, decentralized

#467 Implementing checks for non-valid Tasks
  discojs/src/client/base.ts
  discojs/src/client/decentralized/base.ts
  discojs/src/client/decentralized/messages.ts
  discojs/src/client/federated/client.ts
  discojs/src/client/federated/messages.ts
  server/src/router/decentralized.ts
  server/src/router/federated.ts
  server/src/router/router.ts
  server/src/router/server.ts
  server/tests/federated_client.ts
Labels: bug, server

#348 client/decentralized: fixes
  browser/package-lock.json
  discojs/package-lock.json
  discojs/package.json
  discojs/src/aggregation.spec.ts
  discojs/src/client/decentralized/base.ts
  discojs/src/client/decentralized/clear_text.ts
  discojs/src/client/decentralized/messages.ts
  discojs/src/client/decentralized/peer.spec.ts
  discojs/src/client/decentralized/peer.ts
  discojs/src/client/decentralized/peer_pool.spec.ts
  discojs/src/client/decentralized/peer_pool.ts
  discojs/src/client/decentralized/sec_agg.ts
  discojs/src/client/decentralized/secret_shares.spec.ts
  discojs/src/client/decentralized/secret_shares.ts
  discojs/src/client/decentralized/types.ts
  discojs/src/client/decentralized/utils.ts
  discojs/src/serialization/weights.ts
  discojs/types/koush__wrtc/index.d.ts
  discojs/types/wrtc/index.d.ts
  server/package-lock.json
  server/package.json
  server/src/router/decentralized.ts
  server/src/router/decentralized/index.ts
  server/src/router/decentralized/router.ts
  server/src/router/federated.ts
  server/tests/decentralized_client.ts
Labels: discojs, server, decentralized

#457 Fix the task creation form
  browser/package-lock.json
  browser/src/components/data/DataHarmonization.vue
  browser/src/components/data/dataset_input/FileSelection.vue
  browser/src/components/pages/NewTaskCreationForm.vue
  browser/src/components/pages/TaskList.vue
  browser/src/components/progress_bars/TrainingBar.vue
  browser/src/components/progress_bars/ValidationBar.vue
  browser/src/components/sidebar/ModelLibrary.vue
  browser/src/components/task_creation_form/TaskCreationForm.vue
  browser/src/components/task_creation_form/containers/ArrayContainer.vue
  browser/src/components/task_creation_form/containers/CheckboxContainer.vue
  browser/src/components/task_creation_form/containers/FileContainer.vue
  browser/src/components/task_creation_form/containers/FloatContainer.vue
  browser/src/components/task_creation_form/containers/NumberContainer.vue
  browser/src/components/task_creation_form/containers/ObjectArrayContainer.vue
  browser/src/components/task_creation_form/containers/SelectContainer.vue
  browser/src/components/task_creation_form/containers/TextContainer.vue
  browser/src/components/task_creation_form/simple/CustomField.vue
  browser/src/components/training/Description.vue
  browser/src/components/training/Trainer.vue
  browser/src/components/validation/Validation.vue
  browser/src/components/validation/Validator.vue
  browser/src/composables/toaster.ts
  browser/src/form.ts
  browser/src/router/router.ts
  browser/src/task_creation_form.ts
  browser/src/toast.ts
  browser/src/types.ts
  discojs/src/dataset/preprocessing.ts
  discojs/src/task/display_information.ts
  discojs/src/task/model_compile_data.ts
  discojs/src/task/summary.ts
  discojs/src/task/task.ts
  discojs/src/task/training_information.ts
  server/src/router/tasks.ts
  server/tests/federated_client.ts
Labels: browser, discojs, server
