Repository epfml/disco, pull requests merged in 2022-11, with the labels that each got.

#520 Small fixes for `cli` README and code
  cli/README.md
  get_training_data
  server/models/.empty
  server/src/tasks.ts
Labels: bug, documentation, cli

#517 gh-pages as single commit
  .github/workflows/github-pages.yml
  web-client/src/assets/gif/DiscoGIF.vue
Labels: enhancement

#522 Solving bug when dataType is tabular during data selection
  web-client/src/components/data/dataset_input/DatasetInput.vue
Labels: bug, web client

#525 Add model URL support
  discojs/discojs-core/src/task/training_information.ts
  discojs/discojs-core/src/tasks/simple_face.ts
  server/src/tasks.ts
  web-client/src/components/task_creation_form/TaskCreationForm.vue
  web-client/src/components/task_creation_form/containers/FileContainer.vue
  web-client/src/components/task_creation_form/containers/SelectContainer.vue
  web-client/src/components/task_creation_form/containers/TextContainer.vue
  web-client/src/components/task_creation_form/simple/CustomField.vue
  web-client/src/task_creation_form.ts
Labels: enhancement, web client, server

#516 Added guide on how to upload model
  docs/TASK.md
Labels: documentation

#528 Web Client: Display task params & various fixes
  web-client/src/components/simple/CheckBox.vue
  web-client/src/components/simple/DISCOllaborative.vue
  web-client/src/components/task_creation_form/TaskCreationForm.vue
  web-client/src/components/task_creation_form/TaskForm.vue
  web-client/src/components/task_creation_form/containers/CheckboxContainer.vue
  web-client/src/components/task_creation_form/simple/CustomField.vue
  web-client/src/components/training/Description.vue
  web-client/src/components/training/ModelCaching.vue
  web-client/src/task_creation_form.ts
Labels: enhancement, web client

#530 More friendly lib API before v2 publish
  cli/.eslintrc.json
  cli/src/args.ts
  cli/src/benchmark.ts
  cli/src/data.ts
  cli/src/utils.ts
  cli/tsconfig.json
  discojs/discojs-core/src/dataset/data/image_data.spec.ts
  discojs/discojs-core/src/dataset/data/tabular_data.spec.ts
  discojs/discojs-core/src/dataset/index.ts
  discojs/discojs-core/src/index.browser.ts
  discojs/discojs-core/src/index.node.ts
  discojs/discojs-core/src/informant/training_informant/base.ts
  discojs/discojs-core/src/informant/training_informant/local.ts
  discojs/discojs-core/src/model_actor.ts
  discojs/discojs-core/src/tasks/geotags.ts
  discojs/discojs-core/src/tasks/lus_covid.ts
  discojs/discojs-core/src/tasks/simple_face.ts
  discojs/discojs-core/src/training/disco.ts
  discojs/discojs-core/src/training/training_schemes.ts
  discojs/discojs-core/src/validation/validator.spec.ts
  discojs/discojs-core/src/validation/validator.ts
  discojs/discojs-node/src/dataset/data_loader/image_loader.spec.ts
  discojs/discojs-node/src/dataset/data_loader/image_loader.ts
  discojs/discojs-node/src/dataset/data_loader/tabular_loader.spec.ts
  discojs/discojs-node/src/dataset/data_loader/tabular_loader.ts
  discojs/discojs-node/src/imports.ts
  discojs/discojs-web/src/dataset/data_loader/image_loader.ts
  discojs/discojs-web/src/dataset/data_loader/tabular_loader.ts
  discojs/discojs-web/src/imports.ts
  docs/ONBOARDING.md
  docs/node_example/README.md
  docs/node_example/data.ts
  docs/node_example/example.ts
  server/tests/client/decentralized.spec.ts
  server/tests/client/federated.spec.ts
  server/tests/end_to_end/decentralized.spec.ts
  server/tests/end_to_end/federated.test.ts
  web-client/src/components/data/Data.vue
  web-client/src/components/data/dataset_input/DatasetInput.vue
  web-client/src/components/training/Trainer.vue
  web-client/src/components/training/Training.vue
  web-client/src/components/validation/Validation.vue
  web-client/src/components/validation/Validator.vue
Labels: discojs

#533 Web Client: hotfix task params display & description
  web-client/src/components/training/Description.vue
  web-client/src/task_creation_form.ts
Labels: bug, web client

#531 improve server API and prepare future publishing
  .github/workflows/lint-test-build.yml
  .github/workflows/release.yml
  Dockerfile
  cli/src/args.ts
  cli/src/utils.ts
  discojs/discojs-core/src/dataset/data/image_data.spec.ts
  discojs/discojs-core/src/dataset/data/tabular_data.spec.ts
  discojs/discojs-core/src/default_tasks/cifar10.ts
  discojs/discojs-core/src/default_tasks/geotags.ts
  discojs/discojs-core/src/default_tasks/index.ts
  discojs/discojs-core/src/default_tasks/lus_covid.ts
  discojs/discojs-core/src/default_tasks/mnist.ts
  discojs/discojs-core/src/default_tasks/simple_face.ts
  discojs/discojs-core/src/default_tasks/titanic.ts
  discojs/discojs-core/src/index.browser.ts
  discojs/discojs-core/src/index.node.ts
  discojs/discojs-core/src/serialization/model.spec.ts
  discojs/discojs-core/src/task/index.ts
  discojs/discojs-core/src/task/task_provider.ts
  discojs/discojs-core/src/tasks/cifar10.ts
  discojs/discojs-core/src/tasks/geotags.ts
  discojs/discojs-core/src/tasks/index.ts
  discojs/discojs-core/src/tasks/lus_covid.ts
  discojs/discojs-core/src/tasks/mnist.ts
  discojs/discojs-core/src/tasks/simple_face.ts
  discojs/discojs-core/src/tasks/titanic.ts
  discojs/discojs-core/src/validation/validator.spec.ts
  discojs/discojs-node/src/dataset/data_loader/image_loader.spec.ts
  discojs/discojs-node/src/dataset/data_loader/tabular_loader.spec.ts
  server/README.md
  server/package-lock.json
  server/package.json
  server/src/get_server.ts
  server/src/index.ts
  server/src/router/tasks.ts
  server/src/run_server.ts
  server/src/tasks.ts
  server/tests/client/decentralized.spec.ts
  server/tests/client/federated.spec.ts
  server/tests/end_to_end/decentralized.spec.ts
  server/tests/end_to_end/federated.test.ts
  server/tests/utils.ts
  web-client/cypress/e2e/tasks.cy.ts
Labels: feature, server

#539 update the server docs
  server/README.md
  server/package-lock.json
  server/package.json
Labels: documentation

#545 Download and infer from remote models
  discojs/discojs-core/src/memory/base.ts
  discojs/discojs-core/src/memory/empty.ts
  discojs/discojs-web/src/memory/memory.ts
  server/src/get_server.ts
  web-client/src/components/sidebar/ModelLibrary.vue
  web-client/src/components/validation/Validation.vue
  web-client/src/store/memory.ts
Labels: feature, web client
